{% extends 'body.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <script src="{% static 'js/product/filter.js' %}"></script>

    <style>
        .card-img-custom {
            aspect-ratio: 16 / 9; /* Ajusta la proporción según sea necesario */
            object-fit: cover; /* Opcional: Recortar o contener la imagen */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <div class="form-group">
                <label for=>{{ form.category.label }}</label>
                {{ form.category|add_class:'form-control' }}
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="rowCard">
        {% for product in products %}
            <div class="col-sm-3 mb-2">
                <div class="card" style="width: 18rem;">
                    <img src="{{ product.getImagen }}" loading="lazy" class="card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.names }}</h5>
                        <p class="card-text">
                            Unidades : {{ product.stock }} <br>
                            Precio : S/. {{ product.pvp }}
                        </p>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn btn-primary position-relative"><i class="fas fa-cart-plus"></i> Añadir carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}