{% extends 'base.html' %}

{% block body %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a class="text-decoration-none text-muted active">
                        <i class="fas fa-home"></i> Panel
                    </a>
                </li>
                {% block breadcrumb_item %}
                    <li class="breadcrumb-item">
                        <a class="text-decoration-none text-muted" href="{{ list_url }}">
                            <i class="fas fa-folder-tree"></i> {{ entity }}
                        </a>
                    </li>
                {% endblock %}
            </ol>
        </nav>
    {% block content %}{% endblock %}
{% endblock %}