<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ecommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mantenimiento
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="{% url 'maintenance:category_list' %}"><i class="fas fa-truck"></i> Categoria</a></li>
                        <li><a class="dropdown-item" href="{% url 'maintenance:product_list' %}"><i class="fas fa-boxes"></i> Producto</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'ecommerce:product_ecommerce' %}"><i class="fas fa-shop"></i> Tienda</a>
                </li>
            </ul>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar Producto..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-cart-plus"></i> Carrito de compra
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" id="">
                        <li class="nav-item">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>cantidad</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in request.session.cart.products %}
                                        <tr>
                                            <td>{{ i.names }}</td>
                                            <td>{{ i.quantity }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                subtotal : {{ request.session.cart.subtotal }}
                                IVA : {{ request.session.cart.iva }}
                                TOTAL : {{ request.session.cart.total }}
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>